<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="SendCloudApiConfig" type="System.Configuration.DictionarySectionHandler"/>
    <sectionGroup name="SendCloudEmailConfigGroup">
      <section name="SendConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="TemplateConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="AddressListConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="LabelConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="StatusConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="DataStatisticsConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="UserInfoConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="BouncesConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="UnsubscribesConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="SpamReportedConfig" type="System.Configuration.DictionarySectionHandler"/>
      <section name="WebHookConfig" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>

  <SendCloudApiConfig>
    <add key="Host" value="http://sendcloud.sohu.com/webapi/" />
    <add key="ApiUser" value=""/>
    <add key="ApiKey" value=""/>
  </SendCloudApiConfig>

  <SendCloudEmailConfigGroup>
    <SendConfig>
      <add key="MailSend" value="mail.send.json"/>
      <add key="MailSendTemplate" value="mail.send_template.json"/>
    </SendConfig>
    <TemplateConfig>
      <add key="TemplateGet" value="template.get.json"/>
      <add key="TemplateCreate" value="template.add.json"/>
      <add key="TemplateDelete" value="template.delete.json"/>
      <add key="TemplateUpdate" value="template.update.json"/>
    </TemplateConfig>
    <AddressListConfig>
    </AddressListConfig>
    <LabelConfig>
      <add key="LabelGetList" value="label.list.json"/>
      <add key="LabelGet" value="label.get.json"/>
      <add key="LabelCreate" value="label.create.json" />
      <add key="LabelDelete" value="label.delete.json"/>
      <add key="LabelUpdate" value="label.update.json"/>
    </LabelConfig>
    <StatusConfig>
    </StatusConfig>
    <DataStatisticsConfig>
      <add key="StatiGet" value="stats.get.json"/>
      <add key="StatiGetHour" value="statsHour.get.json"/>
      <add key="StatiGetInvalid" value="invalidStat.get.json"/>
    </DataStatisticsConfig>
    <UserInfoConfig>
    </UserInfoConfig>
    <BouncesConfig>
    </BouncesConfig>
    <UnsubscribesConfig>
      <add key="UnsubscribesGet" value="unsubscribes.get.json"/>
      <add key="UnsubscribesCreate" value="unsubscribes.add.json"/>
      <add key="UnsubscribesDelete" value="unsubscribes.delete.json"/>
    </UnsubscribesConfig>
    <SpamReportedConfig>
    </SpamReportedConfig>
    <WebHookConfig>
      <add key="Site" value=""/>
    </WebHookConfig>
  </SendCloudEmailConfigGroup>


</configuration>